<head>
    <title>My Profile</title>
    <link rel="stylesheet" href="/public/styles/userHeader.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div class="profile-header">
        <div class="profile-container">
            <img class="profile-image" src={{pfp}} alt="User Image">
            <div class="profile-info">
                <p>Username: {{username}}</p>
                <p>ID: {{id}}</p>
                <button onclick="window.location.href='/logout';">Logout</button>
            </div>
        </div>

        <div class="form-container">
            <form id="change-user" action="/myAccount" method="POST">
                <label for="username">New Username:</label>
                <input type="text" id="username" class="form-input" name="username">

                <label for="pfp">Link to new Profile Picture:</label>
                <input type="text" id="pfp" class="form-input" name="pfp">

                <input type="submit" value="Submit">
            </form>
        </div>

        <div class="bullet-points">
            <p>Facts:</p>
            <ul>
                <li class="bullet-point">Friends: {{friendsDetails.length}}</li>
                <li class="bullet-point"><a href="/Songs?user={{id}}">Songs: {{songs}}</a></li>
            </ul>
        </div>
    </div>
    <div class="friends-section">
        <div class="friends-list">
            <h3>Friends List:</h3>
            {{#each friendsDetails}}
                <div class="friends" width="300px">
                    <a href="/user?user={{this.id}}"><img class="friend-profile-image" src={{this.profilePicture}} width="150px" alt="User Image"></a>
                    <p>ID: {{this.id}}</p>
                </div>
            {{/each}}
        </div>

        <div class="friend-form">
            <h3>Add or Remove Friends:</h3>
            <form id="add-remove-friend" action="/myAccount" method="POST">
                <label for="friendID">Friend's ID:</label>
                <input type="text" id="friendID" class="form-input" name="friendID">

                <label for="action">Action:</label>
                <select id="action" name="action">
                    <option value="add">Add</option>
                    <option value="remove">Remove</option>
                </select>

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
